use-cases/Theftprotection.json
[
    {
        "id": "2439e996.b0fd26",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f8383a49.8708a",
        "type": "inject",
        "z": "2439e996.b0fd26",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 330,
        "y": 180,
        "wires": [
            [
                "f83ba1d4.c1f47"
            ]
        ]
    },
    {
        "id": "6298a1ef.40f46",
        "type": "speed",
        "z": "2439e996.b0fd26",
        "name": "",
        "querytimerange": 1,
        "x": 290,
        "y": 260,
        "wires": [
            [
                "99f1be31.621b28"
            ]
        ]
    },
    {
        "id": "99f1be31.621b28",
        "type": "function",
        "z": "2439e996.b0fd26",
        "name": "",
        "func": "var spd = msg.payload.items[0].spd;\nconsole.log(spd);\nmsg.payload = \"not moving\"\nif(spd > 0.1) {\n    msg.payload = \"moving\"\n}\nconsole.log(msg.payload);",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 440,
        "wires": [
            [
                "9c3e7e8a.a609e8"
            ]
        ]
    },
    {
        "id": "9c3e7e8a.a609e8",
        "type": "switch",
        "z": "2439e996.b0fd26",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "moving",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "not moving",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 530,
        "y": 520,
        "wires": [
            [],
            [
                "4654b891.51ec8"
            ]
        ]
    },
    {
        "id": "9d40044f.403938",
        "type": "sendsms",
        "z": "2439e996.b0fd26",
        "creds": "2b22354f.5f7d8a",
        "to": "4915773452411",
        "fr": "NEXMO",
        "text": "Die Position von Ihrem Scooter hat sich geändert!",
        "unicode": false,
        "x": 710,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "4654b891.51ec8",
        "type": "debug",
        "z": "2439e996.b0fd26",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 710,
        "y": 580,
        "wires": []
    },
    {
        "id": "13d508d4.9bbf47",
        "type": "ui_chart",
        "z": "2439e996.b0fd26",
        "name": "",
        "group": "1326dccf.9d2833",
        "order": 0,
        "width": "12",
        "height": "6",
        "label": "GPS Speed of the Sensor",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "Fetching data from the GPS-Sensor",
        "dot": false,
        "ymin": "0",
        "ymax": "2",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 710,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "f83ba1d4.c1f47",
        "type": "random",
        "z": "2439e996.b0fd26",
        "name": "GPS_SPD",
        "low": "0.02353",
        "high": "0.78236",
        "inte": "false",
        "property": "payload",
        "x": 490,
        "y": 280,
        "wires": [
            [
                "13d508d4.9bbf47",
                "99f1be31.621b28"
            ]
        ]
    },
    {
        "id": "2b22354f.5f7d8a",
        "type": "nexmobasic",
        "z": ""
    },
    {
        "id": "1326dccf.9d2833",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "3a0fbbfa.15cb94",
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "3a0fbbfa.15cb94",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]