use-cases/WorldMap_GPS_Tracking.json
[
    {
        "id": "7a20b548.e45acc",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a06d2a66.6a1e58",
        "type": "worldmap",
        "z": "7a20b548.e45acc",
        "name": "",
        "lat": "",
        "lon": "",
        "zoom": "",
        "layer": "OSM",
        "cluster": "",
        "maxage": "600",
        "usermenu": "hide",
        "layers": "hide",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "true",
        "coords": "none",
        "path": "",
        "x": 570,
        "y": 240,
        "wires": []
    },
    {
        "id": "38f4b713.e6b118",
        "type": "function",
        "z": "7a20b548.e45acc",
        "name": "",
        "func": "// create random \nvar lat = 49.32 + Math.random() * 0.2;\nvar lon = 10.54 + Math.random() * 0.2;\nmsg.payload={lat:lat, lon:lon, name:\"CESpa 2\", icon:\"motorcycle\", iconColor:\"#322222\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 240,
        "wires": [
            [
                "a06d2a66.6a1e58"
            ]
        ]
    },
    {
        "id": "dd87e9e8.ed3258",
        "type": "inject",
        "z": "7a20b548.e45acc",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "x": 170,
        "y": 300,
        "wires": [
            [
                "398b4dca.ea07f2"
            ]
        ]
    },
    {
        "id": "11d03c9.db426c3",
        "type": "ui_template",
        "z": "7a20b548.e45acc",
        "group": "b3d2b1c9.33bf9",
        "name": "",
        "order": 0,
        "width": "6",
        "height": "6",
        "format": "<div ng-bind-html=\"msg.payload | trusted\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 540,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "398b4dca.ea07f2",
        "type": "template",
        "z": "7a20b548.e45acc",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<iframe src=\"../worldmap\" height=300px ></iframe>",
        "x": 370,
        "y": 300,
        "wires": [
            [
                "11d03c9.db426c3"
            ]
        ]
    },
    {
        "id": "3c0e8c09.f5ae04",
        "type": "ui_button",
        "z": "7a20b548.e45acc",
        "name": "",
        "group": "b3d2b1c9.33bf9",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Random Position",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-motorcycle",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 210,
        "y": 240,
        "wires": [
            [
                "38f4b713.e6b118"
            ]
        ]
    },
    {
        "id": "68b546da.f85658",
        "type": "comment",
        "z": "7a20b548.e45acc",
        "name": "How to embed Map in Dashboard",
        "info": "This example shows how to embed the Worldmap \ninto a template node within the `node-red-dashboard`\n\nThe first flow creates a dashboard button that \ngenerates a randon position, with the required \nicon, and passes that to the worldmap. The\nmap is configured to automatically pan to the\nposition of any point that arrives.\n\nThe second flow initialise the dashboard template\nwith the initial map and sets it to a more square shape\nby adjusting the height.",
        "x": 190,
        "y": 40,
        "wires": []
    },
    {
        "id": "de228dd7.6b609",
        "type": "inject",
        "z": "7a20b548.e45acc",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 80,
        "wires": [
            [
                "6eb9d20a.a8c52c"
            ]
        ]
    },
    {
        "id": "58953024.40cbf",
        "type": "function",
        "z": "7a20b548.e45acc",
        "name": "",
        "func": "lat = msg.payload.items[0].lat;\nlon = msg.payload.items[0].lon;\nmsg = {\n    payload: {\n      lat: lat,\n      lon: lon,\n      name: \"CESpa 1\",\n      icon: \"motorcycle\"\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 160,
        "wires": [
            [
                "a06d2a66.6a1e58"
            ]
        ]
    },
    {
        "id": "6eb9d20a.a8c52c",
        "type": "lon-lat",
        "z": "7a20b548.e45acc",
        "name": "",
        "querytimerange": 1,
        "x": 270,
        "y": 140,
        "wires": [
            [
                "58953024.40cbf"
            ]
        ]
    },
    {
        "id": "b3d2b1c9.33bf9",
        "type": "ui_group",
        "z": "7a20b548.e45acc",
        "name": "Default",
        "tab": "20ba97d3.713468",
        "disp": true,
        "width": "6"
    },
    {
        "id": "20ba97d3.713468",
        "type": "ui_tab",
        "z": "7a20b548.e45acc",
        "name": "Home",
        "icon": "dashboard"
    }
]